body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to be equal to the viewport height */
}

.box {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.box.animate {
  animation: scale 2s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}
